doctype html
html(lang="zh-CN")
  head
    title Elpis
    link(rel="icon" type="image/png" href="/static/logo.png")
    link(rel="stylesheet" href="/static/css/normalize.css")
  body
    h1 Elpis
    #root