doctype html
html(lang="zh-CN")
  head
    title Elpis
    link(rel="icon" type="image/png" href="/static/logo.png")
    link(rel="stylesheet" href="/static/css/normalize.css")
    script(src="/static/js/md5.min.js")
  body
    h1 Elpis
    p Welcome to Elpis
    button(onclick=`handleClick()`) 获得 project 列表
    button(onclick=`handleUpdate()`) 更新 project
    script.
      function handleClick() {
        const signKey = 'test_sign_key'
        const st = Date.now()
        fetch('/api/project/list', {
            headers: {
                's_t': Date.now(),
                's_sign': md5(`${signKey}_${Date.now()}`)
            }
        }).then(res => res.json()).then(data => {
          console.log(data)
        })
      }

      function handleUpdate() {
        fetch('/api/project/update', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name: '前端的 post',
          })
        }).then(res => res.json()).then(data => {
          console.log(data)
        })
      }